# phpstorm project files
.idea

# runtime
gsnc/runtime
pcd/runtime


/vendor
/node_modules
/public/assets
# composer vendor dir

# video
public/projects/*/storage/video
public/*/storage/video

public/pcd/assets/vue/vue-component/node_modules