.markerPopup {
  font-family: Roboto, Arial;
  font-size: 13px; }
  .markerPopup .pTitle {
    font-weight: 500;
    color: #2196F3;
    border-bottom: 1px solid rgba(134, 133, 133, 0.13); }
  .markerPopup .pContent > div {
    margin-bottom: 5px; }
  .markerPopup .pContent i {
    font-size: 13px; }

#nhapCB .heading-elements .heading-text {
  color: #1E88E5;
  margin: 8px 20px 0; }
#nhapCB select {
  padding: 3px 3px !important; }
#nhapCB .form-group {
  padding: 0 3px; }
  #nhapCB .form-group .form-control {
    border-radius: 0px;
    font-size: 14px;
    padding: 10px;
    height: 33px;
    text-align: center; }
#nhapCB #formCB tbody tr th {
  text-align: center;
  color: #1E88E5;
  padding: 10px 0;
  font-size: 14px;
  text-decoration: underline; }
#nhapCB #formCB tbody tr td {
  vertical-align: top; }

#ajaxCrudDatatable .panel-heading {
  padding: 10px 20px; }
  #ajaxCrudDatatable .panel-heading .panel-title {
    font-size: 16px;
    font-weight: 500; }
#ajaxCrudDatatable #crud-datatable table.kv-grid-table thead tr:nth-child(2) td {
  padding: 10px 10px; }
#ajaxCrudDatatable .form-control {
  padding: 7px 10px; }
#ajaxCrudDatatable .glyphicon {
  font-size: 13px; }

.leaflet-contextmenu-icon {
  font-size: 14px !important; }

.leaflet-control-layers-overlays span {
  position: relative;
  top: -3px; }

#phieudt .dashed {
  margin: 10px 0 15px 0;
  border-style: dashed; }
#phieudt header {
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center; }
  #phieudt header p:first-child {
    font-size: 15px; }
  #phieudt header p:nth-child(2) {
    font-size: 23px; }
#phieudt .phieu-body {
  padding: 20px 10px; }
  #phieudt .phieu-body .phieu-title {
    font-size: 15px;
    font-weight: 600;
    color: #2196F3; }

@media (max-width: 450px) {
  .form-group {
    margin-top: 10px; } }
.radio label,
.radio-inline label,
.checkbox label,
.checkbox-inline label {
  padding-left: 25px; }
.radio input[type="radio"],
.radio input[type="checkbox"],
.radio-inline input[type="radio"],
.radio-inline input[type="checkbox"],
.checkbox input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="radio"],
.checkbox-inline input[type="checkbox"] {
  margin-left: -25px; }

input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  position: relative;
  margin-top: 6px;
  margin-right: 4px;
  vertical-align: top;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer; }
  input[type="radio"]:focus,
  .radio input[type="radio"]:focus,
  .radio-inline input[type="radio"]:focus {
    outline: none; }
  input[type="radio"]:before, input[type="radio"]:after,
  .radio input[type="radio"]:before,
  .radio input[type="radio"]:after,
  .radio-inline input[type="radio"]:before,
  .radio-inline input[type="radio"]:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    -webkit-transition: 240ms;
    -o-transition: 240ms;
    transition: 240ms; }
  input[type="radio"]:before,
  .radio input[type="radio"]:before,
  .radio-inline input[type="radio"]:before {
    position: absolute;
    left: 0;
    top: -3px;
    background-color: #2196F3;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  input[type="radio"]:after,
  .radio input[type="radio"]:after,
  .radio-inline input[type="radio"]:after {
    position: relative;
    top: -3px;
    border: 2px solid #868585; }
  input[type="radio"]:checked:before,
  .radio input[type="radio"]:checked:before,
  .radio-inline input[type="radio"]:checked:before {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5); }
  input[type="radio"]:disabled:checked:before,
  .radio input[type="radio"]:disabled:checked:before,
  .radio-inline input[type="radio"]:disabled:checked:before {
    background-color: #bbb; }
  input[type="radio"]:checked:after,
  .radio input[type="radio"]:checked:after,
  .radio-inline input[type="radio"]:checked:after {
    border-color: #2196F3; }
  input[type="radio"]:disabled:after, input[type="radio"]:disabled:checked:after,
  .radio input[type="radio"]:disabled:after,
  .radio input[type="radio"]:disabled:checked:after,
  .radio-inline input[type="radio"]:disabled:after,
  .radio-inline input[type="radio"]:disabled:checked:after {
    border-color: #bbb; }

input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer; }
  input[type="checkbox"]:focus,
  .checkbox input[type="checkbox"]:focus,
  .checkbox-inline input[type="checkbox"]:focus {
    outline: none; }
  input[type="checkbox"]:focus:after,
  .checkbox input[type="checkbox"]:focus:after,
  .checkbox-inline input[type="checkbox"]:focus:after {
    border-color: #2196F3; }
  input[type="checkbox"]:after,
  .checkbox input[type="checkbox"]:after,
  .checkbox-inline input[type="checkbox"]:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin-top: -2px;
    margin-right: 5px;
    border: 2px solid #868585;
    border-radius: 2px;
    -webkit-transition: 240ms;
    -o-transition: 240ms;
    transition: 240ms; }
  input[type="checkbox"]:checked:before,
  .checkbox input[type="checkbox"]:checked:before,
  .checkbox-inline input[type="checkbox"]:checked:before {
    content: "";
    position: absolute;
    top: 0;
    left: 6px;
    display: table;
    width: 6px;
    height: 12px;
    border: 2px solid #fff;
    border-top-width: 0;
    border-left-width: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  input[type="checkbox"]:checked:after,
  .checkbox input[type="checkbox"]:checked:after,
  .checkbox-inline input[type="checkbox"]:checked:after {
    background-color: #2196F3;
    border-color: #2196F3; }
  input[type="checkbox"]:disabled:after,
  .checkbox input[type="checkbox"]:disabled:after,
  .checkbox-inline input[type="checkbox"]:disabled:after {
    border-color: #bbb; }
  input[type="checkbox"]:disabled:checked:after,
  .checkbox input[type="checkbox"]:disabled:checked:after,
  .checkbox-inline input[type="checkbox"]:disabled:checked:after {
    background-color: #bbb;
    border-color: transparent; }

/*# sourceMappingURL=app_scss.css.map */
