$theme-color: #03A9F4;

//.btn {
//  display: inline-block;
//  margin-bottom: 0; // For input.btn
//  //font-weight: $btn-font-weight;
//  text-align: center;
//  vertical-align: middle;
//  touch-action: manipulation;
//  cursor: pointer;
//  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
//  border: 1px solid transparent;
//  white-space: nowrap;
//  //@include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
//
//  //&:hover,
//  //&:focus,
//  //&.focus {
//  //  color: $btn-default-color;
//  //  text-decoration: none;
//  //}
//  //
//  //&:active,
//  //&.active {
//  //  outline: 0;
//  //  background-image: none;
//  //  @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
//  //}
//
//}








// ------------------------------------------------------- BUTTON MD

// ------------------------------------------------------- BUTTON BORDER

// ------------------------------------------------------- BUTTON TRANSPARENCY
//.btnz {
//  position: relative;
//  display: inline-block;
//  cursor: pointer;
//  white-space: nowrap;
//  text-transform: uppercase;
//  outline: none;
//  border: none;
//  border-radius: 2px;
//  padding: 7px 12px;
//}





// ------------------------------------------------------- BUTTON 3D
.btn-3d {
  position: relative;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  text-transform: uppercase;
  outline: none;
  border: none;
  //Size
  @include button-size(0px, 22px, 14px, 40px, 3px);
  //Color
  background-color: $theme-color;
  color: #FFF;



  // 3D
  border-bottom: 3px solid rgba(0,0,0,0.15);
  -webkit-transition: none;
  -o-transition: none;
  transition: none;

  &:hover { opacity: 0.9; }
}

// Hình dáng
.btn-circle {
  border-radius: 30px !important;
}
.btn-square {
  border-radius: 0px !important;
}

// Màu sắc
.btn-light {
  background-color: #EEE;
  color: #333;
  text-shadow: none !important;
}

.btn-red {
  background-color: #C63E55;
  &:hover { opacity: 0.9; }
}

// Kích thước
.btn-3d.btn-mini {
  padding: 0 14px;
  font-size: 11px;
  height: 28px;
  line-height: 28px;
}

