@import "app.helper";
@media (min-width: 768px) {
  .main-body {
    overflow: auto;
  }
}





.maudon {
  .maudon-head {

  }
  .maudon-body {
    .sec-title {
      @extend .primary, .f17, .uppercase;
    }

  }
  .maudon-tail {

  }
}

.form-group {


  input.form-control {
    padding: 10px;
    height: 31px;
    @extend .f15;
  }
  input[type=date]{
    padding: 4px 10px!important;
  }
}

label {
  padding-right: 10px;
}
hr.dashed {
  border: 1px dashed #eeeeee;
  margin: 10px 0 12px 0;;
}


