@import "palette";

$palette: (
    "muted": #999,

    "success": #4CAF50,
    "success-300": $color-success-300,
    "success-400": $color-success-400,
    "success-500": $color-success-500,
    "success-600": $color-success-600,
    "success-700": $color-success-700,
    "success-800": $color-success-800,
    "success-900": $color-success-900,

    "primary": #2196F3,
    "primary-300": $color-primary-300,
    "primary-400": $color-primary-400,
    "primary-500": $color-primary-500,
    "primary-600": $color-primary-600,
    "primary-700": $color-primary-700,
    "primary-800": $color-primary-800,
    "primary-900": $color-primary-900,

    "info": #00BCD4,
    "info-300": $color-info-300,
    "info-400": $color-info-400,
    "info-500": $color-info-500,
    "info-600": $color-info-600,
    "info-700": $color-info-700,
    "info-800": $color-info-800,
    "info-900": $color-info-900,

    "danger": #EF5350,
    "danger-300": $color-danger-300,
    "danger-400": $color-danger-400,
    "danger-500": $color-danger-500,
    "danger-600": $color-danger-600,
    "danger-700": $color-danger-700,
    "danger-800": $color-danger-800,
    "danger-900": $color-danger-900,

    "warning": #FF7043,
    "warning-300": $color-warning-300,
    "warning-400": $color-warning-400,
    "warning-500": $color-warning-500,
    "warning-600": $color-warning-600,
    "warning-700": $color-warning-700,
    "warning-800": $color-warning-800,
    "warning-900": $color-warning-900,

    "pink-300": $color-warning-300,
    "pink-400": $color-warning-400,
    "pink-500": $color-warning-500,
    "pink-600": $color-warning-600,
    "pink-700": $color-warning-700,
    "pink-800": $color-warning-800,
    "pink-900": $color-warning-900,

    "violet-300": $color-violet-300,
    "violet-400": $color-violet-400,
    "violet-500": $color-violet-500,
    "violet-600": $color-violet-600,
    "violet-700": $color-violet-700,
    "violet-800": $color-violet-800,
    "violet-900": $color-violet-900,

    "purple-300": $color-purple-300,
    "purple-400": $color-purple-400,
    "purple-500": $color-purple-500,
    "purple-600": $color-purple-600,
    "purple-700": $color-purple-700,
    "purple-800": $color-purple-800,
    "purple-900": $color-purple-900,

    "indigo-300": $color-indigo-300,
    "indigo-400": $color-indigo-400,
    "indigo-500": $color-indigo-500,
    "indigo-600": $color-indigo-600,
    "indigo-700": $color-indigo-700,
    "indigo-800": $color-indigo-800,
    "indigo-900": $color-indigo-900,

    "blue-300": $color-blue-300,
    "blue-400": $color-blue-400,
    "blue-500": $color-blue-500,
    "blue-600": $color-blue-600,
    "blue-700": $color-blue-700,
    "blue-800": $color-blue-800,
    "blue-900": $color-blue-900,

    "teal-300": $color-teal-300,
    "teal-400": $color-teal-400,
    "teal-500": $color-teal-500,
    "teal-600": $color-teal-600,
    "teal-700": $color-teal-700,
    "teal-800": $color-teal-800,
    "teal-900": $color-teal-900,

    "green-300": $color-green-300,
    "green-400": $color-green-400,
    "green-500": $color-green-500,
    "green-600": $color-green-600,
    "green-700": $color-green-700,
    "green-800": $color-green-800,
    "green-900": $color-green-900,

    "orange-300": $color-orange-300,
    "orange-400": $color-orange-400,
    "orange-500": $color-orange-500,
    "orange-600": $color-orange-600,
    "orange-700": $color-orange-700,
    "orange-800": $color-orange-800,
    "orange-900": $color-orange-900,

    "brown-300": $color-brown-300,
    "brown-400": $color-brown-400,
    "brown-500": $color-brown-500,
    "brown-600": $color-brown-600,
    "brown-700": $color-brown-700,
    "brown-800": $color-brown-800,
    "brown-900": $color-brown-900,

    "grey-300": $color-grey-300,
    "grey-400": $color-grey-400,
    "grey-500": $color-grey-500,
    "grey-600": $color-grey-600,
    "grey-700": $color-grey-700,
    "grey-800": $color-grey-800,
    "grey-900": $color-grey-900,

    "slate-300": $color-slate-300,
    "slate-400": $color-slate-400,
    "slate-500": $color-slate-500,
    "slate-600": $color-slate-600,
    "slate-700": $color-slate-700,
    "slate-800": $color-slate-800,
    "slate-900": $color-slate-900,

);

$fav-palette: (
    "red-dark": #C02942,
    "green-dirty": #1693A5
);






@each $color, $val in $palette {
  //Background
  .bg-#{$color} {
    background-color: $val !important;
    border-color: $val !important;
    color: #fff !important;
  }
  //Text
  .#{$color} {
    color: $val !important;
    &:hover, &:focus {
      color: $val !important;
    }
  }
  //Border
  .border-#{$color} {
    border-color: $val !important;
  }
  .border-top-#{$color} {
    border-top-color: $val !important;
  }
  .border-bottom-#{$color} {
    border-bottom-color: $val !important;
  }
  .border-left-#{$color} {
    border-left-color: $val !important;
  }
  .border-right-#{$color} {
    border-right-color: $val !important;
  }
}

// Alpha colors
.alpha {

  // Primary
  &-primary {
    background-color: $color-primary-50 !important;
    border-color: $color-primary-600 !important;
  }

  // Danger
  &-danger {
    background-color: $color-danger-50!important;
    border-color: $color-danger-600!important;
  }

  // Success
  &-success {
    background-color: $color-success-50!important;
    border-color: $color-success-600!important;
  }

  // Warning
  &-warning {
    background-color: $color-warning-50 !important;
    border-color: $color-warning-600 !important;
  }

  // Info
  &-info {
    background-color: $color-info-50!important;
    border-color: $color-info-600!important;
  }

  // Pink
  &-pink {
    background-color: $color-pink-50 !important;
    border-color: $color-pink-600 !important;
  }

  // Violet
  &-violet {
    background-color: $color-violet-50 !important;
    border-color: $color-violet-600 !important;
  }

  // Purple
  &-purple {
    background-color: $color-purple-50 !important;
    border-color: $color-purple-600 !important;
  }

  // Indino
  &-indigo {
    background-color: $color-indigo-50 !important;
    border-color: $color-indigo-600 !important;
  }

  // Blue
  &-blue {
    background-color: $color-blue-50 !important;
    border-color: $color-blue-600 !important;
  }

  // Teal
  &-teal {
    background-color: $color-teal-50 !important;
    border-color: $color-teal-600 !important;
  }

  // Green
  &-green {
    background-color: $color-green-50 !important;
    border-color: $color-green-600 !important;
  }

  // Orange
  &-orange {
    background-color: $color-orange-50 !important;
    border-color: $color-orange-600 !important;
  }

  // Brown
  &-brown {
    background-color: $color-brown-50 !important;
    border-color: $color-brown-600 !important;
  }

  // Grey
  &-grey {
    background-color: $color-grey-50 !important;
    border-color: $color-grey-600 !important;
  }

  // Slate
  &-slate {
    background-color: $color-slate-50 !important;
    border-color: $color-slate-600 !important;
  }
}