// Hệ thống độ đậm
$weight: (
    "light": 300,
    "normal": 400,
    "sbold": 500,
    "bold": 600,
    "dark": 900
);

// Hệ thống kiểu chữ
$transform: (
    "transform-none": none,
    "uppercase": uppercase,
    "lowercase": lowercase,
    "captitalize": captitalize
);

$decoration: (
    "blink": none,
    "underline": underline,
    "line-through": line-through
);

// Hệ thống canh lề
$align: (
    "left": left,
    "right": right,
    "center": center,
    "justify": justify,
    "nowrap": nowrap,
    "break-word": break-word
);

//------------------------------------------------------------

@for $i from 13 through 25 {
  .f#{$i} { font-size: 1px * $i; }
  .fw#{$i} {
    font-size: 1px * $i;
    font-weight: bold;
  }
}

@each $item, $val in $weight {
  .#{$item}{
    font-weight: $val;
  }
}

@each $item, $val in $transform {
  .#{$item}{
    text-transform: $val;
  }
}

@each $item, $val in $decoration {
  .#{$item}{
    text-decoration: $val;
  }
}

@each $name, $value in $align {
  .#{$name} {
    @if $name == "nowrap" {
      white-space: $value;
    } @else if $name == "break-word" {
      word-wrap: $value;
    } @else {
      text-align: $value;
    }
  }
}